:root {
    --grinch-green: #86c92c;
    --light-green: #e8fecc;
    --christmas-red: #FF4742;
    --hat-white: #EEE;
    --dark-blue: #19235b;
    --background-color: #16171c;
}

body {
    min-height: 97vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.character {
    min-width: 300px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- EFECTOS HOVER --- */
.character:hover .eye {
    background-color: var(--christmas-red);
    transition: background-color 0.3s ease;
}

.character:hover .red-part::before,
.character:hover .white-ball {
    animation-duration: 0.5s;
}


/* --- GORRO DE NAVIDAD --- */
.christmas-hat {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 45px;
}

.red-part {
    width: 200px;
    height: 120px;
    background-color: var(--christmas-red);
    box-shadow: inset -10px -11px 0px 11px rgba(0, 0, 0, 0.05);
    border-radius: 100px 100px 0 0;
    animation: redAndGreen-shadow 2.5s infinite ease-in-out;
}

.red-part::before {
    content: "";
    width: 200px;
    height: 120px;
    background-color: #f2433f;
    box-shadow: inset 0 0 0px 100px rgba(0, 0, 0, 0.05);
    border-radius: 100px 100px 10px 10px;
    position: absolute;
    top: 0px;
    z-index: -1;
    animation: shake 1.5s infinite alternate ease-in-out;
}

.white-part {
    width: 220px;
    height: 50px;
    background-color: var(--hat-white);
    box-shadow: inset -4px -6px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    position: absolute;
    top: 100px;
    animation: white-shadow 2.5s infinite ease-in-out;
}

.white-ball {
    width: 50px;
    height: 50px;
    background-color: #e6e6e6;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: 100px;
    z-index: -2;
    animation: shake-white-ball 1.5s infinite alternate ease-in-out;
}


/* --- GRINCH --- */
.grinch {
    width: 200px;
    height: 280px;
    background-color: var(--grinch-green);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    box-shadow: inset 10px -11px 0px 11px rgba(0, 0, 0, 0.05);
    position: relative;
    top: -45px;
    z-index: -1;
    display: flex;
    justify-content: center;
    animation: redAndGreen-shadow 2.5s infinite ease-in-out;
}

.grinch .eye {
    width: 50px;
    height: 25px;
    background-color: var(--light-green);
    border-radius: 100px 100px 0 0;
    margin: 0 19px;
    position: relative;
    bottom: -100px;
    overflow: hidden;
    transform: rotate(180deg);
    animation: move-eyes 2.8s infinite ease-in-out;
}

.grinch .eye .pupil {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: -8px;
    animation: move-pupil 2.8s infinite ease-in-out;
}

.grinch .nose {
    width: 30px;
    height: 30px;
    border-radius: 20% 20% 50%;
    transform: rotate(45deg);
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 125px;
    animation: move-nose 2.8s infinite ease-in-out;
    animation-delay: 0.1s;
}

.grinch .mouth {
    width: 100px;
    height: 15px;
    border: 5px solid var(--dark-blue);
    border-color: var(--dark-blue) transparent transparent transparent;
    border-radius: 60%;
    position: absolute;
    bottom: 70px;
    animation: grumpy-mouth 2.8s infinite ease-in-out;
}

.name {
    font-size: 2.2em;
    color: var(--grinch-green);
    text-shadow: 0 2px var(--light-green), 2px 0 var(--light-green), 0 -2px var(--light-green), -2px 0 var(--light-green), -2px 2px var(--light-green), 2px -2px var(--light-green), 2px 2px var(--light-green), -2px -2px var(--light-green);
}


/* --- KEYFRAMES (Animaciones) --- */
@keyframes shake {
    from {
        transform: translateX(10px) rotate(-7deg);
    }

    50% {
        transform: translateY(4px);
    }

    to {
        transform: translateX(-5px) rotate(5deg);
    }
}

@keyframes shake-white-ball {
    from {
        transform: translateX(20px);
    }

    to {
        transform: translateX(-200px);
    }
}

@keyframes redAndGreen-shadow {

    from,
    75%,
    to {
        box-shadow: inset 10px -11px 0px 11px rgba(0, 0, 0, 0.05);
    }

    25%,
    50% {
        box-shadow: inset -10px -11px 0px 11px rgba(0, 0, 0, 0.05);
    }
}

@keyframes white-shadow {

    from,
    75%,
    to {
        box-shadow: inset 4px -6px 0px 4px rgba(0, 0, 0, 0.05);
    }

    25%,
    50% {
        box-shadow: inset -4px -6px 0px 4px rgba(0, 0, 0, 0.05);
    }
}

@keyframes move-pupil {

    from,
    75%,
    to {
        left: 0;
    }

    25%,
    50% {
        left: 30px;
    }
}

@keyframes move-eyes {

    from,
    75%,
    to {
        transform: rotate(180deg) translateX(-15px);
    }

    25%,
    50% {
        transform: rotate(180deg) translateX(15px);
    }
}

@keyframes move-nose {

    from,
    75%,
    to {
        transform: translateX(15px) rotate(45deg);
    }

    25%,
    50% {
        transform: translateX(-15px) rotate(45deg);
    }
}

@keyframes grumpy-mouth {

    from,
    75%,
    to {
        transform: translateX(10px) rotate(-5deg);
    }

    25%,
    50% {
        transform: translateX(-10px) rotate(5deg);
    }
}


/* --- RESPONSIVIDAD --- */
@media (max-width: 600px) {
    .character {
        transform: scale(0.8);
    }

    .name {
        font-size: 1.8em;
    }
}